.mat-nav-list a.active {
  color: white;
  font-size: larger;
}

.mat-nav-list a.active span {
  border-bottom-width: 2.5px;
  border-bottom-style: inset;
  border-bottom-color: dodgerblue;
}

.mat-nav-list a {
  color: #bcbaba;
}

.padding {
  padding-left: 30px;
}
