<div class="about" fxFill>
    <div fxLayout="row" fxLayoutAlign="start center" fxFill>
      <div fxFlex="35" fxLayout="column" fxLayoutAlign="start center" class="intro">
        <div>
          <img src="assets/headshot.png" alt="headshot">
          <h1>Brendan <span class="emphasis">Ware</span></h1>
        </div>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </div>
    </div>
</div>
