<div fxFill>
  <h1 class="mat-headline">Skills</h1>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="spacer" fxFlex="10"></div>
    <div fxFlex="50">
      <div fxLayout="column" fxLayoutGap="20px">
        <div fxFlex="">
          <h2 class="mat-title">Languages</h2>
          <div fxLayout="row">
            <mat-icon *ngFor="let l of this.languages" svgIcon="{{l}}" matTooltip="{{l}}" fxFlex=""></mat-icon>
          </div>
        </div>
        <div fxFlex="">
          <h2>Tools and Frameworks</h2>
          <div fxLayout="row">
            <mat-icon *ngFor="let l of this.frameworks" svgIcon="{{l}}" matTooltip="{{l}}" fxFlex=""></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
