<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="true" [fixedTopGap]="0"
                 [fixedBottomGap]="0">
    <app-sidebar [routes]="navLinks" [logos]="logos"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content fxFill>
      <div fxFlex class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
